/* General */
* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	background-image: url(../img/aquafondo.png);
}

header {
	display: flex;
	margin: 0px;
	width: 100%;
	background: #788199;
	justify-content: space-between;
	align-items: center;
}

.menu ul {
	display: flex;
	padding-top: 10px;
	list-style: none;
	align-items: center;
	justify-content: end;
}

.menu li a {
	display: block;
	color: white;
	text-decoration: none;
	padding: 0px 20px;
	font-size: 125%;
}

.menu li a:hover {
	color: aqua;
	transition: 0.7s;
}

header label {
	display: none;
	width: 68px;
	height: 68px;
	cursor: pointer;
}

.imgopciones {
	width: 30px;
	height: 30px;
	margin: 17px 17px;
}

header label:hover {
	background: grey;
}

.headerlogo {
	width: 200px;
	height: auto;
	margin-left: 15px;
}

#opciones {
	display: none;
}

.carrousel {
	width: 100%;
	height: 25rem;
	margin: none;
	overflow: hidden;
}

.carrousel ul {
	display: flex;
	padding: 0;
	width: 200%;

	animation: slide 12s infinite alternate ease-in-out;
}

.carrousel li {
	width: 50%;
	list-style: none;
}

.carrousel img {
	width: 100%;
	height: 25rem;
}

@keyframes slide {
	0% {
		margin-left: 0;
	}
	30% {
		margin-left: 0;
	}

	35% {
		margin-left: -50%;
	}
	65% {
		margin-left: -50%;
	}

	70% {
		margin-left: -100%;
	}
	100% {
		margin-left: -100%;
	}
}

/* Adopcion */
.card {
	margin: 1rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.checkAdopcion {
	width: 1.2rem;
	height: 1.2rem;
	margin-right: 1rem;
	margin-top: 1rem;
}

.piedepagina {
	width: 100%;
	background: #788199;
	margin-top: 0rem;
	/* position: absolute; */
	bottom: 1;
}

.piedepagina .grupo1 {
	color: white;
	width: 100%;
	margin: auto;
	padding: 10px 0px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 50px;
}

.piedepagina .grupo1 .box figure {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.piedepagina .grupo1 .box figure img {
	width: 200px;
}

.piedepagina .grupo1 .box p {
	color: #efefef;
	margin-bottom: 10px;
}

.piedepagina .grupo1 .redsocial a img {
	display: inline-block;
	width: 25px;
	height: 25px;
	line-height: 25px;
	margin-right: 10px;
	text-align: center;
}


.grupo2 {
	color: black;
	text-align: center;
	background: beige;
}

.titleOfMain {
	margin-top: 0px;
}

.pIndexFive {
	color: rgb(9, 52, 240);
}

.sorteos {
	text-align: center;
}

.subTitleOfMain {
	text-align: center;
	margin: 40px;
}

.numbersubmit {
	text-align: center;
}

.subTitleOfMainTwo {
	padding-bottom: 50px;
}

.titleOfMain {
	text-align: center;
}

.btn-primary {
	margin-bottom: 40px;
}


.sorteos {background: url(../img/imgslide3.jpg); width: 100%; 
	height: 80em; 
	color: white; 
	background-attachment: fixed;
	 background-size: cover;} 

.colaborar {background: url(../img/imgslide1.jpg); width: 100%; 
	height: auto; 
	 
	color: white; 
	background-attachment: fixed;
	height: 80em;
	 background-size: cover;
	padding-top: 6em;} 

	.comidaymedicacion {background: url(../img/imgslide2.jpg); width: 100%; 
		height: auto; 
		 
		color: white; 
		background-attachment: fixed;
		height: 80em;
		 background-size: cover;
		padding-top: 6em;
	} 

	.piedrasyalimentos {background: url(../img/imgslide4.jpg); width: 100%; 
		height: auto; 
		 
		color: white; 
		background-attachment: fixed;
		height: 80em;
		 background-size: cover;
		padding-top: 6em;
	} 

	.sorteos .titleOfMain {margin-top: 3em;}

	
	@-webkit-keyframes carrouseltatoo {
		from {
			-webkit-transform: rotateY(360deg) translateZ(130px) rotateY(-360deg);
			-moz-transform: rotateY(360deg) translateZ(130px) rotateY(-360deg);
			z-index: 10;
			opacity: 1
		}

		50% {
			z-index: -10;
		}

		to {
			-webkit-transform: rotateY(0deg) translateZ(130px) rotateY(0deg);
			-moz-transform: rotateY(0deg) translateZ(130px) rotateY(0deg);
			z-index: 10;
			opacity: 1
		}
	}

	@-moz-keyframes carrouseltatoo {
		from {
			-moz-transform: rotateY(360deg) translateZ(130px) rotateY(-360deg);
			z-index: 10;
			opacity: 1
		}

		50% {
			z-index: -10;
		}

		to {
			-moz-transform: rotateY(0deg) translateZ(130px) rotateY(0deg);
			z-index: 10;
			opacity: 1
		}
	}

	.tatoos {
		font-family: "Verdana", sans-serif;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		letter-spacing: 0px;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		scroll-behavior: smooth;
		margin: auto;
		color: #fff;}


		.caja__card {
			width: 90px;
			height: 100px;
			background-color: #442222;
			position: absolute;
			display: flex;
			font-weight: bold;
			justify-content: center;
			align-items: center;
			top: 35px;
			left: 125px;
			font-size: 9px;
			border-radius: 8px;
			box-shadow: 0px 0px 20px rgba(0, 0, 0, .5);
			text-align: center;
			-webkit-animation-name: carrouseltatoo;
			-moz-animation-name: carrouseltatoo;
			-webkit-animation-duration: 16s;
			-moz-animation-duration: 16s;
			-webkit-animation-iteration-count: infinite;
			-moz-animation-iteration-count: infinite;
			-webkit-animation-timing-function: linear;
			-moz-animation-timing-function: linear;
		}

		.caja__card:hover {
			border: solid #4466cc 3px;
			box-shadow: 0px 0px 10px #4466cc;
		}
	
		.caja__card.cc__1 {
			background: linear-gradient(-229deg, #0093E9, #80D0C7);
			-webkit-animation-delay: -14s;
			-moz-animation-delay: -14s;
		}
	
		.caja__card.cc__2 {
	
			background: linear-gradient(-229deg, #00DBDE, #FC00FF);
			-webkit-animation-delay: -10s;
			-moz-animation-delay: -10s;
		}
	
		.caja__card.cc__3 {
	
			background: linear-gradient(-229deg, #50d990, #d4d054);
			-webkit-animation-delay: -6s;
			-moz-animation-delay: -6s;
		}
	
		.caja__card.cc__4 {
			background: linear-gradient(-229deg, #cf91ff, #5782F5);
			-webkit-animation-delay: -2s;
			-moz-animation-delay: -2s;
		}
	
		


		.carrouseltatoomod {
			-webkit-perspective: 250px;
			-moz-perspective: 250px;
			width: 340px;
			height: 200px;
			top: 50px;
			position: relative;
			margin: 0 auto;		
		}

	.carrouseltatoomod a{ color: white;
		                  text-decoration: none;
		                  


	}


@media (max-width: 768px) {
	header label {
		display: block;
	}
	.menu {
		position: absolute;
		background: rgba(120, 129, 153, 0.75);
		width: 70%;
		margin-left: -70%;
		transition: all 0.5s;
	}
	.menu ul {
		flex-direction: column;
	}
	header {
		display: block;
	}
	.menu li {
		padding: 10px;
	}
	#opciones:checked ~ .menu {
		margin: 0;
	}
	.piedepagina .grupo1 {
		color: white;
		width: 90%;
		grid-template-columns: repeat(1, 1fr);
		grid-gap: 30px;
		padding: 15px 0px;
	}
	.piedepagina .grupo1 .box figure img {
		width: 100px;
	}

	.carrousel {
		width: 100%;
		height: 400px;
		margin: none;
		overflow: hidden;
	}

	.carrousel ul {
		display: flex;
		padding: 0;
		width: 400%;
		animation: slide 17s infinite alternate ease-in-out;
	}

	.carrousel li {
		width: 100%;
		list-style: none;
	}

	.carrousel img {
		width: 100%;
		height: 400px;
	}
	@keyframes slide {
		0% {
			margin-left: 0;
		}
		20% {
			margin-left: 0;
		}

		25% {
			margin-left: -100%;
		}
		45% {
			margin-left: -100%;
		}

		50% {
			margin-left: -200%;
		}
		70% {
			margin-left: -200%;
		}

		75% {
			margin-left: -300%;
		}
		100% {
			margin-left: -300%;
		}
	}

	.headerlogo {
		color: white;
		display: flex;
		padding: 0px 0px;
		height: 150px;
		width: 400px;
		justify-content: center;
		margin: auto;
	}
}
